<p class="product__text inline-richtext subtitle">
  <strong>{{ section.settings.heading }}</strong>
</p>
<p class="product__text inline-richtext">
  <strong>{{ section.settings.subheading }}</strong>
</p>
<p class="product__text inline-richtext reduce_font">
  {{ section.settings.text }}
</p>
